language: node_js
git:
  depth: 1
node_js:
  - "16"

services:
  - docker

before_install:
  - npm install -g npm@8.5
  - COMMIT=`git rev-parse HEAD` && echo "export const gitCommit = \"${COMMIT}\";" >src/server/version.js
  - VERSION=`git describe --always --tags` && echo "export const gitVersion =\"${VERSION}\";" >>src/server/version.js

install:
  - npm ci

script:
  - npm run eslint
  - npm run test
